@use "../../../../../../styles/variables" as *;

.day-header {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  &__button {
    border: 1px solid $color-black;
    padding: 5px 10px;
    color: $color-black;
    background-color: $color-white;

    &--sick-leave {
      border: none;
      color: $color-white;
      background-color: $color-blue;
    }

    &--vacation {
      border: none;
      color: $color-white;
      background-color: $color-orange;
    }
  }
}
