@use "../../../../../../styles/variables" as *;

.unwell-entry {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 12px;
  }
}
