// remove background for current day
.rbc-today {
  background: unset;
}

// remove background for all day event selected cell
.rbc-selected-cell {
  background-color: unset;
}

// remove slot selection
.rbc-slot-selection {
  display: none;
}

// remove cursor for slot selection
.rbc-slot-selecting {
  cursor: auto;
}

.rbc-timeslot-group {
  min-height: 80px;
}

.rbc-time-content {
  max-height: calc(100vh - 280px);
}
