// remove background for current day
.rbc-today {
  background: unset;
}

// remove background for all day event selected cell
.rbc-selected-cell {
  background-color: unset;
}

// remove slot selection
.rbc-slot-selection {
  display: none;
}

// remove cursor for slot selection
.rbc-slot-selecting {
  cursor: auto;
}

.rbc-timeslot-group {
  min-height: 80px;
}

.rbc-overflowing {
  margin-right: 0 !important;
}

.rbc-time-content {
  max-height: calc(100vh - 280px);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
