@use "../../../../styles/variables" as *;

.entry-modal {
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
  }

  &__input {
    margin-bottom: 10px;
    width: 100%;
  }

  &__submit {
    margin-top: 15px;
  }

  &__error {
    margin-top: 10px;
    text-align: center;
    color: $color-error;
  }
}
