$color-background-primary: rgb(255 255 255 / 100%);
$color-error: rgb(220 0 0);
$color-pink: #ffc8ee;
$color-purple: #b00079;
$color-grey: #808080;
$color-light-pink: #f849c1;
$color-blue: #3dadff;
$color-dark-blue: #3174ad;
$color-light-blue: #e9f7ff;
$color-white: #fff;
$color-orange: #ff913d;
$color-cream: #fff4e9;
$color-black: #000;
