@use "../../../../../../styles/variables" as *;

.task-entry {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__completion-time-container {
    display: flex;
  }

  &__time-range {
    display: flex;
    gap: 4px;
  }

  &__label {
    font-size: 12px;
  }

  &__date-field {
    margin-right: 16px;
  }

  &__description {
    min-height: 40px;
    max-height: 80px;
    resize: none;
    field-sizing: content;
  }

  // &__error {
  //   text-align: center;
  //   color: $color-error;
  // }

  &__date-field,
  &__time-field {
    width: 60px;
  }
}
